$font12px: 12px;
$font14px: 14px;
$font42px: 42px;
$font16px: 16px;
$font36px: 36px;

$lineHeight18px: 18px;
$lineHeight20px: 20px;
$lineHeight24px: 24px;
$lineHeight26px: 26px;
$lineHeight51px: 51px;
$lineHeight150: 150%;

$colorGray: #808080;
$colorWhite: #ffffff;
$colorBlack: #171717;
$colorBtn: #c2ab81;
$colorBg: #131313;
