@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-Light.eot");
	src: local("Montserrat Light"), local("Montserrat-Light"),
		url("../fonts/Montserrat-Light.woff2") format("woff2"),
		url("../fonts/Montserrat-Light.woff") format("woff");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("Montserrat-ExtraBold.eot");
	src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
		url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
		url("../fonts/Montserrat-ExtraBold.woff") format("woff");
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

//  Mulish
@font-face {
	font-family: "Mulish";
	src: local("Mulish Regular"), local("Mulish-Regular"),
		url("../fonts/Mulish-Regular.woff2") format("woff2"),
		url("../fonts/Mulish-Regular.woff") format("woff");
	font-display: swap;
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Mulish";
	src: local("Mulish SemiBold"), local("Mulish-SemiBold"),
		url("../fonts/Mulish-SemiBold.woff2") format("woff2"),
		url("../fonts/Mulish-SemiBold.woff") format("woff");
	font-display: swap;
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}
